:root {
    --color-background: white;
    --color-on-background: black;
    --color-background-hover: #eee;
    --color-on-background-hover: black;

    --color-primary: #8b5a2b; /* potato brown */

    --color-on-primary: white;
    --color-error: #de0000;
    --color-on-error: white;
}

main.dark,
header.dark {
    color-scheme: dark;

    --color-background: #1c1b1f;
    --color-on-background: white;
    --color-background-hover: #27262c;
    --color-on-background-hover: white;

    --color-primary: #c08a4a;        /* baked potato gold-brown */
    --color-primary-disabled: #5a3a22; /* darker roasted brown */

    --color-on-primary: white;
    --color-error: #de0000;
    --color-on-error: white;
}